MODE=development
CORS_ORIGIN=http://localhost:5173
AUTH_DATABASE_URL="postgres://bittu:bittu@localhost:5432/bittuly_auth"
URL_DATABASE_URL="postgres://bittu:bittu@localhost:5433/bittuly_urls"
REDIS_URL="redis://127.0.0.1:6379"
AUTH_HOST="0.0.0.0"
URL_HOST="0.0.0.0"
AUTH_PORT=3001
URL_PORT=3002
RUST_LOG=tower_http=debug,bittuly=info
JWT_SECRET="this-is-a-production-distributed-url-shortener"
SMTP_USER="xxxxx@gmail.com"
SMTP_PASS="xxxx xxxx xxxx xxxx"
